<div class="index-container">
  <%= render 'shared/back_arrow', path:'root_path' %>
  <div class="top">
    <h1>WORKOUTS</h1>
    <div class="caroussel">
      <%= render 'shared/workout_card' %>
      <%= render 'shared/workout_card' %>
    </div>
  </div>
</div>
