<div class="new-container">
  <%= render 'shared/back_arrow', path:'root_path' %>
  <div>
  </div>
  <div class="form-container">
  <h1>Workout's name</h1>
    <%= simple_form_for @workout do |f| %>
      <%= f.input :title, label: false, input_html: {class:"form-new"} %>
      <%= f.submit "create", class:"submit-new-button"%>
    <% end %>
  </div>

</div>
