<div class="new-container">
  <%= render 'partials/back_arrow', path:'root_path' %>

  <%= simple_form_for @workout do |f| %>
    <%= f.input :title,as: :text, label: false, input_html: {class:"form-new", placeholder: "WRITE YOUR WORKOUT NAME"} %>
    <%= f.submit "create"%>
  <% end %>

</div>
