// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #424345;
$yellow: #FFC65A;
$orange: #ffe9ca;
$green: #86EC84;
$gray: #9C9C9F;
$light-gray: #F5F5F5;
$blue-bis: #ededfc;
