// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #424345;

$yellow: #FFDBA8;
$orange: #FFE9CA;
$green: #86EC84;
$gray: #424345;
$light-gray: #F5F5F5;

$blue-bis: #ededfc;


$mediume-gray: #F7F7F7;

