.show-container{
  height: 100vh;
  .back-arrow{
    margin-left: 5%;
    position: relative;
  }
  h1{
    margin-left: 5%;
  }

  .top{
    background-color: rgba(245, 245, 245, .4);
    border-radius: 10px;
    margin-top: 4vh;
    width: 90%;
    margin-left: 2vh;
    color: $gray;
  }


  .workout_info{
    display: flex;
    justify-content: space-evenly;
  }

  .btn {
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    justify-content: flex-end;
  }


}

.but{
  background-color: $yellow;
  width: fit-content;
  display: flex;
  justify-content: center;
}
