<ul class="dots">
        <%# <li data-vertical-caroussel-target="allDots" data-action="click->vertical-caroussel#moveStep" class="active"><span></span><li> %>

      <% (@workout_exercises.size).times do  %>
        <li data-vertical-caroussel-target="allDots" data-action="click->vertical-caroussel#moveStep" class="active"><span></span></li>

      <% end %>

    </ul>
