<div class="navbar">
  <div class="home">
    <i class="fa-solid fa-house-user"></i>
    <p>Home</p>
  </div>

  <div class="workout">
    <i class="fa-solid fa-dumbbell"></i>
    <p>Workout</p>
  </div>

  <div class="add">
    <i class="fa-solid fa-square-plus"></i>
    <p>Add</p>
  </div>

  <div class="profile">
    <i class="fa-solid fa-user"></i>
    <p>Profile</p>
  </div>
</div>
