<div class="nbar">
  <ul>
  <li><i class="fa-regular fa-house"></i>
  <p>Home</p></li>
  <li><i class="fa-regular fa-dumbbell"></i>
  <p>Workout</p></li>
  <li><i class="fa-regular fa-chart-simple"></i>
  <p>Progress</p></li>
  <li>
  <p>Profile</p>
  </ul>

  <i class="fa-regular fa-circle-plus"></i>
 </div>
