<div class="slider">
	<div class="slide-track">
    <% @workouts.each do |workout| %>
      <div class="slide">
        <%= link_to workout_path(workout), class: "slide" do %>
          <%= render 'shared/workout_card', workout: workout %>
          <% end %>
      </div>
    <% end %>
</div>
