<div id="app" data-controller="vertical-caroussel" class="w-100">
<!--
  <div class="bg-container">
    <div class="bg-imgs">

    <% @exercises.all.each do |exercice| %>


      <%= image_tag exercice.demonstration, class: exercice != @exercises.first ?  "d-none gif-container": "gif-container", data: { vertical_caroussel_target: "allImgs"} %>

    <% end %>
    </div>
  </div>
  -->

  <div >
    <% @exercises.each do |exercice| %>
      <%= image_tag exercice.demonstration, class: exercice != @exercises.first ?  "d-none gif-container": "gif-container", data: { vertical_caroussel_target: "allImgs"} %>
    <% end %>  </div>





















  <div class="carousel-nav">
    <div class="timer" data-action="click->vertical-caroussel#pauseTimer">
      <svg width="60" height="60" viewBox="0 0 60 60">
        <circle cx="30" cy="30" r="29" fill="none" stroke="#ffffff" stroke-width="1" stroke-dasharray="182.212"
          stroke-dashoffset="0"></circle>
      </svg>
        <svg width="60" height="60">
          <circle id="circle" cx="30" cy="30" r="28" fill="none" stroke="#ffffff" stroke-width="4"  data-time="<%= @durations  %>" data-vertical-caroussel-target="circle"
            style="stroke-dashoffset: 0px"></circle>
        </svg>
      <span class="play" id="timer-btn" data-vertical-caroussel-target="button"></span>
    </div>
    <ul class="dots">
        <li data-vertical-caroussel-target="allDots" data-action="click->vertical-caroussel#moveStep" class="active"><span></span></li>

      <% (@exercises.size - 1).times do  %>
        <li data-vertical-caroussel-target="allDots" data-action="click->vertical-caroussel#moveStep" class="active"><span></span></li>
      <% end %>
    </ul>
  </div>

</div>
