<div class="card-workout">

  <div class="card-workout-infos" >
    <div>
      <h2>Name</h2>
      <p>By HugoChaumette</p>
    </div>
    <div  class="card-workout-time">
    <i class="fa-regular fa-circle-play"></i>
    <p>45min</p>
    </div>
  </div>
</div>
