
<div class="card-workout">
  <div class="card-workout-infos" >
    <div class="text">
      <%= workout.title %>
    </div>
    <div class="play_icone">
      <i class="fa-regular fa-circle-play"></i>
    </div>

  </div>
</div>
