
  <div class="homebar">
  <%= render 'shared/navbar' %>
  </div>

  <div class="container" >
    <h1>Welcome Hugo</h1>
    <div class="quote">
      <p>Blabla inspirant TRES TRES TRES TRES LONG</p>
    </div>

    <div class="display_workout">
      <h2>Select your </h2>
      <h2>session today</h2>
      <div class="caroussel">
        <%= render 'shared/workout_card' %>
      </div>
    </div>
  </div>

    <%= render 'shared/nbar' %>
