<div class="dash">
  <div class="top-dash">
    <%= render "shared/back_arrow" %>
    <h1>DASHBOARD</h1>
    <p>     frrrr</p>
  </div>

<div class="container">
  <%= render 'shared/search_workout' %>
</div>

  <div class="nbar">
      <%= render 'shared/nbar' %>
  </div>
</div>
