<div class="dash">
  <div class="top-dash">
    <%= render "shared/back_arrow" %>
  </div>
  <div class="container">
    <h1>DASHBOARD</h1>
    <%= render 'shared/search_workout' %>
  </div>
</div>


</div>

  <div class="sticky-bot">
      <%= render 'shared/nbar' %>
  </div>
