<div class="workout_page">
  <div class="top-dash">
    <div>
      <%= render 'shared/back_arrow', path:'root_path' %>
    </div>
    <div>
      <h1>DASHBOARD</h1>
    </div>
  </div>
    <%= render 'shared/search_workout' %>
  </div>
</div>


</div>

  <div class="sticky-bot">
      <%= render 'shared/nbar' %>
  </div>
