.big-button {
  display:flex;
  text-decoration: none;
  background-color: $blue;
  color: white;
  border-radius: 16px;
  height: 54px;
  width: 270px;
 justify-content: center;
  align-items: center;
}

.button-height {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.selected-exercise i {
  color: $green;
  border-radius: 50%;
  border: 1px solid $green;
}
