.top-dash{
  width: 400px;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  h1 {
    margin-left: 50px;
    margin-bottom: 20px;
    padding-top: 20px;
  }
}



.dash{
  max-height: 90vh;
  min-height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.cards{

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 26px;
  row-gap: 16px;
  column-gap: 16px;
  width: 100%;
}

.dash-container{
  margin-bottom: 20px;
  overflow: hidden;
}

.workout_page{
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 90vh;
}
