.top-dash{
  display: flex;
  height: 8vh;
  justify-content: space-between;
  p{
    color: white;
    font-size: 38px;
  }
  h1{
    margin-top: 2vh;
  }
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}



.dash{
  max-height: 90vh;
  min-height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.cards{
  display: grid;
  grid-template-columns: 100% 100%;
  row-gap: 15px;
  column-gap: 40px;
  width: 40%;
}

.dash-container{
  margin-left: 1vh;
  overflow: hidden;
}

.workout_page{
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 90vh;
  margin-left: 1vh;
}
