.top-dash{
  display: flex;
  height: 8vh;
  justify-content: space-between;
  p{
    color: white;
  }
  h1{
    margin-top: 1vh;
  }
  .nbar{
    position: sticky;
    bottom: 0;
  }
}

.dash{
  max-height: 100vh;
  overflow: hidden;
}

.cards{
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 15px;
  column-gap: 15px;
  width: 40%;
}

.dash-container{
  margin-left: 2vh;
  height: 60vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}
