.gif-container{
  border-radius: 10px;
  height: 232px;
  width: 338px;
  object-fit: cover;
  opacity: 0.8;
  margin-top: 10px;
  justify-content: center;
  margin-left: 13px;
}

.bot{
  p{
    margin-left: 95px;
    font-size: 35px;
  }
}
