.gif-container{
  height: 378px;
  display: flex;
  align-items: center;
  justify-content: center;
  .gif{width: 100%;
  object-fit: cover;
  margin-top: 10px;
  justify-content: center;
  margin: auto;}
}

.bot{
  p{
    font-size: 35px;
  }
}
