.navbar {
  justify-content: space-between;
  background: $light-gray;
  background-size: 100%;
  width: 100%;
  padding: 8px;

  .text{
    margin-top: 15px;
  }
  .container-fluid{
    background: $light-gray;
  }
}
