.top_bar{
  height: 90px;
  background-color: white;
  padding: 24px 24px;
  text-align: center;
  align-items: center;
  >div{
    align-items: center;
    display: flex;
  }

  h1{
    margin: 0 0;
  }
}

.top-bar-workout{
  display: flex;
  justify-content: space-between;
}

.margin-search-bar{
  margin-top: 12px;
}

.title-center{
  margin-left: 48px;
}
