.top_bar{
  height: 90px;
  background-color: white;
  padding: 24px 24px;
  text-align: center;
  >div{
    align-items: center;
    display: flex;
  }

  h2{
    justify-self: center;
  }
}

.top-bar-workout{
  display: flex;
  justify-content: space-between;
}

.margin-search-bar{
  margin-top: 12px;
}

.title-center{
  margin-left: 48px;
}
